.btn-floating{
    position: fixed !important;
    z-index: 100;
    right: 50px;
    bottom: 50px;
}
.text-capitalize{
    text-transform: capitalize;
}
.input-file{
    position: absolute;
    height: 45px;
    max-width: 180px;
    top: 0px;
    opacity: 0;
}
.img-preview{
    width: 100%;
}
.mt-40{
    margin-top: 40px;
}
.input-file-box{
    margin: 5px;
    padding-bottom: 15px;
    border-bottom: 1px solid #d2d2d2;
}
.input-file-box .btn{
    width: 100px;
}
td img{
    width: 35px;
    cursor: zoom-in;
}

.b-100{
    bottom: 100px;
}
.b-150{
    bottom: 150px;
}
.card-profile .card-avatar img {
    height: 125px;
}

/* user */
.carousel-item img{
    height: 150px;
}
.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #7ec581;
    width: 80px;
    height: 80px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
  }
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  .hide{
      display: none !important;
  }
  .show{
      display: block !important;
  }