
/*!
 *  ____  _   _  ___  _____  ___  _   _ _____ ____ _    _ ____ ____
 * |  _ \| | | |/ _ \|_   _|/ _ \| | | |_   _|  __| |  | |  __|  _ \
 * | |_| | |_| | | | | | | | | | | | | | | | | |__| |  | | |__| |_| |
 * |  __/|  _  | | | | | | | | | | |_| | | | |  __| |/\| |  __|    /
 * | |   | | | | |_| | | | | |_| |\   / _| |_| |__|  /\  | |__| |\ \
 * |_|   |_| |_|\___/  |_|  \___/  \_/ |_____|____|_/  \_|____|_| \_\
 *
 * photoviewer - v2.1.0
 * A JS plugin to view images just like in Windows
 * https://github.com/nzbin/photoviewer#readme
 *
 * Copyright (c) 2018 nzbin
 * Released under MIT License
 */

.photoviewer-modal {
  position: absolute;
  z-index: 1090;
  width: 320px;
  height: 320px;
  cursor: default;
  overflow: visible !important;
}

.photoviewer-inner {
  position: absolute;
  top: -1px;
  left: -1px;
  right: -1px;
  bottom: -1px;
  background-color: rgba(255, 255, 255, 0.85);
  -webkit-box-shadow: 0 2px 10px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0 2px 10px 2px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  border: 1px solid #666;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  cursor: default;
}

.photoviewer-maximize {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.photoviewer-toolbar {
  font-size: 0;
}

.photoviewer-header {
  position: relative;
  z-index: 2;
  height: 30px;
}

.photoviewer-header .photoviewer-toolbar {
  float: right;
}

.photoviewer-header .photoviewer-button {
  height: 30px;
}

.photoviewer-header .photoviewer-button:hover {
  color: #333;
  background-color: #eee;
}

.photoviewer-header .photoviewer-button-close:hover {
  color: #fff;
  background-color: #ff4545;
}

.photoviewer-title {
  padding: 8px 10px;
  font-size: 14px;
  line-height: 1;
  white-space: nowrap;
  text-overflow: ellipsis;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #333;
  overflow: hidden;
}

.photoviewer-stage {
  position: absolute;
  top: 30px;
  right: 0;
  bottom: 40px;
  left: 0;
  z-index: 1;
  border-top: 1px solid #666;
  border-bottom: 1px solid #666;
  background-color: #fff;
  overflow: hidden;
}

.photoviewer-stage.stage-ready {
  text-align: center;
}

.photoviewer-image {
  position: relative;
  display: inline-block;
}

.photoviewer-image.image-ready {
  max-width: 100%;
  max-height: 100%;
}

.photoviewer-footer {
  position: absolute;
  bottom: 0;
  z-index: 2;
  width: 100%;
  height: 40px;
  color: #fff;
  text-align: center;
}

.photoviewer-footer .photoviewer-toolbar {
  display: inline-block;
}

.photoviewer-button {
  display: inline-block;
  width: 40px;
  height: 40px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  font-size: 16px;
  color: #3d3d3d;
  line-height: 1;
  text-align: center;
  background: none;
  border-width: 0;
  border-radius: 0;
  cursor: pointer;
  outline: none;
}

.photoviewer-button:hover {
  color: #111;
}

.photoviewer-button svg {
  display: inline-block;
  font-size: inherit;
  width: 1em;
  height: 1em;
  overflow: visible;
  vertical-align: -.125em;
}

.photoviewer-loader {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  text-align: center;
  color: #333;
}

.photoviewer-loader::before {
  content: '';
  display: inline-block;
  position: relative;
  width: 36px;
  height: 36px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-width: 5px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.5) rgba(0, 0, 0, 0.5) rgba(0, 0, 0, 0.5) rgba(255, 255, 255, 0.5);
  border-radius: 100%;
  -webkit-animation: photoviewerLoading 1s infinite linear;
  animation: photoviewerLoading 1s infinite linear;
}

.photoviewer-loader::after {
  content: '';
  display: inline-block;
  width: 0;
  height: 100%;
  vertical-align: middle;
  overflow: hidden;
}

@-webkit-keyframes photoviewerLoading {
  0% {
    -webkit-transform: rotateZ(0deg) translate3d(0, 0, 0);
    transform: rotateZ(0deg) translate3d(0, 0, 0);
  }
  100% {
    -webkit-transform: rotateZ(360deg) translate3d(0, 0, 0);
    transform: rotateZ(360deg) translate3d(0, 0, 0);
  }
}

@keyframes photoviewerLoading {
  0% {
    -webkit-transform: rotateZ(0deg) translate3d(0, 0, 0);
    transform: rotateZ(0deg) translate3d(0, 0, 0);
  }
  100% {
    -webkit-transform: rotateZ(360deg) translate3d(0, 0, 0);
    transform: rotateZ(360deg) translate3d(0, 0, 0);
  }
}

.photoviewer-resizable-handle {
  position: absolute;
  z-index: 10;
}

.photoviewer-resizable-handle-e {
  top: 0;
  right: -5px;
  bottom: 0;
  left: auto;
  width: 10px;
  cursor: e-resize;
}

.photoviewer-resizable-handle-s {
  top: auto;
  right: 0;
  bottom: -5px;
  left: 0;
  height: 10px;
  cursor: s-resize;
}

.photoviewer-resizable-handle-w {
  top: 0;
  right: auto;
  bottom: 0;
  left: -5px;
  width: 10px;
  cursor: w-resize;
}

.photoviewer-resizable-handle-n {
  top: -5px;
  right: 0;
  bottom: auto;
  left: 0;
  height: 10px;
  cursor: n-resize;
}

.photoviewer-resizable-handle-se {
  top: auto;
  right: -5px;
  bottom: -5px;
  left: auto;
  width: 10px;
  height: 10px;
  cursor: se-resize;
}

.photoviewer-resizable-handle-sw {
  top: auto;
  right: auto;
  bottom: -5px;
  left: -5px;
  width: 10px;
  height: 10px;
  cursor: sw-resize;
}

.photoviewer-resizable-handle-nw {
  top: -5px;
  right: auto;
  bottom: auto;
  left: -5px;
  width: 10px;
  height: 10px;
  cursor: nw-resize;
}

.photoviewer-resizable-handle-ne {
  top: -5px;
  right: -5px;
  bottom: auto;
  left: auto;
  width: 10px;
  height: 10px;
  cursor: ne-resize;
}

:-webkit-full-screen {
  top: 0 !important;
  left: 0 !important;
  width: 100% !important;
  height: 100% !important;
}

:-webkit-full-screen .photoviewer-header,
:-webkit-full-screen .photoviewer-footer,
:-webkit-full-screen .photoviewer-resizable-handle {
  display: none;
}

:-webkit-full-screen .photoviewer-stage {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-width: 0;
  background-color: #000;
}

:-moz-full-screen {
  top: 0 !important;
  left: 0 !important;
  width: 100% !important;
  height: 100% !important;
}

:-moz-full-screen .photoviewer-header,
:-moz-full-screen .photoviewer-footer,
:-moz-full-screen .photoviewer-resizable-handle {
  display: none;
}

:-moz-full-screen .photoviewer-stage {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-width: 0;
  background-color: #000;
}

:-ms-fullscreen {
  top: 0 !important;
  left: 0 !important;
  width: 100% !important;
  height: 100% !important;
}

:-ms-fullscreen .photoviewer-header,
:-ms-fullscreen .photoviewer-footer,
:-ms-fullscreen .photoviewer-resizable-handle {
  display: none;
}

:-ms-fullscreen .photoviewer-stage {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-width: 0;
  background-color: #000;
}

:full-screen {
  top: 0 !important;
  left: 0 !important;
  width: 100% !important;
  height: 100% !important;
}

:full-screen .photoviewer-header,
:full-screen .photoviewer-footer,
:full-screen .photoviewer-resizable-handle {
  display: none;
}

:full-screen .photoviewer-stage {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-width: 0;
  background-color: #000;
}

:-webkit-full-screen {
  top: 0 !important;
  left: 0 !important;
  width: 100% !important;
  height: 100% !important;
}

:-moz-full-screen {
  top: 0 !important;
  left: 0 !important;
  width: 100% !important;
  height: 100% !important;
}

:-ms-fullscreen {
  top: 0 !important;
  left: 0 !important;
  width: 100% !important;
  height: 100% !important;
}

:fullscreen {
  top: 0 !important;
  left: 0 !important;
  width: 100% !important;
  height: 100% !important;
}

:-webkit-full-screen .photoviewer-header,
:-webkit-full-screen .photoviewer-footer,
:-webkit-full-screen .photoviewer-resizable-handle {
  display: none;
}

:-moz-full-screen .photoviewer-header,
:-moz-full-screen .photoviewer-footer,
:-moz-full-screen .photoviewer-resizable-handle {
  display: none;
}

:-ms-fullscreen .photoviewer-header,
:-ms-fullscreen .photoviewer-footer,
:-ms-fullscreen .photoviewer-resizable-handle {
  display: none;
}

:fullscreen .photoviewer-header,
:fullscreen .photoviewer-footer,
:fullscreen .photoviewer-resizable-handle {
  display: none;
}

:-webkit-full-screen .photoviewer-stage {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-width: 0;
  background-color: #000;
}

:-moz-full-screen .photoviewer-stage {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-width: 0;
  background-color: #000;
}

:-ms-fullscreen .photoviewer-stage {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-width: 0;
  background-color: #000;
}

:fullscreen .photoviewer-stage {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-width: 0;
  background-color: #000;
}

::-webkit-backdrop {
  background-color: #000;
}

::backdrop {
  background-color: #000;
}

::-ms-backdrop {
  background-color: #000;
}

.is-grab {
  cursor: move;
  cursor: -webkit-grab;
  cursor: grab;
}

.is-grabbing {
  cursor: move;
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

/*# sourceMappingURL=photoviewer.css.map */