body {
  background-color: #eee;
  color: #3C4858;
  font-weight: 300;
  background-image: url(https://lh3.googleusercontent.com/5QE4lBlBxFBQJvUJxqKKEH_3XOBKSKNhWPJL-H4X9X5PJZnIKehvZoD1FuuvsW0Ve9AErlccGro2gJI8S79G=w1366-h626);
}
.carousel-item img{
height: 250px;
}
@media only screen and (max-width: 600px) {
  .carousel-item img{
    height: 150px;
  }
}
.navbar {
  margin-bottom: 0px;
}
.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col, .col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm, .col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md, .col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg, .col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl, .col-xl-auto {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 5px;
  padding-left: 5px;
}
.box{
  margin-top: 10px;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}
.box-bordered{
  border: 1px solid #ddd;
}
.box {
  margin-top: 10px;
  border-bottom: 1px solid #ddd;
}
.box .box-header .box-category{
  display: inline-block;
  text-transform: capitalize;
  font-size: 14px;
}
.box-category .material-icons{
  font-size: 10px;
}
.box .box-header img{
  width: 100%;
}
.box .box-header iframe{
  width: 100%;
} 
.card {
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
}
.card {
  border: 0;
  margin-bottom: 30px;
  margin-top: 30px;
  border-radius: 6px;
  color: #333333;
  background: #fff;
  width: 100%;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}
.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid #eeeeee;
  border-radius: 0.25rem;
}
.card {
  font-size: .875rem;
}
.card [class*="card-header-"]:not(.card-header-icon):not(.card-header-text):not(.card-header-image) {
  border-radius: 3px;
  margin-top: -20px;
  padding: 15px;
}
.card .card-header-primary .card-icon, .card .card-header-primary:not(.card-header-icon):not(.card-header-text), .card .card-header-primary .card-text {
  box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(61, 142, 234, 0.4);
}
.card .card-header-primary .card-icon, .card .card-header-primary .card-text, .card .card-header-primary:not(.card-header-icon):not(.card-header-text), .card.bg-primary, .card.card-rotate.bg-primary .front, .card.card-rotate.bg-primary .back {
  background: linear-gradient(60deg, #0b4b94, #004593);
}
.card [class*="card-header-"] {
  margin: 0px 15px 0;
  padding: 0;
  position: relative;
}
.card .card-header .card-title {
  margin-bottom: 3px;
  font-size: 1.2rem;
}
.card [class*="card-header-"] .card-title a, .card [class*="card-header-"] .card-title, .card [class*="card-header-"] .icon i, .card[class*="bg-"] .card-title a, .card[class*="bg-"] .card-title, .card[class*="bg-"] .icon i {
  color: #fff;
}
.card [class*="card-header-"] .card-title + .card-category {
  color: rgba(255, 255, 255, 0.62);
}

.card .card-header .card-category {
  margin: 0;
}
.card .card-body {
  padding: 0.9375rem 20px;
  position: relative;
}
.btn.btn-primary {
  color: #fff;
  background-color: #004593;
  border-color: #004593;
  box-shadow: 0 2px 2px 0 rgba(61, 142, 234, 0.4), 0 3px 1px -2px rgba(61, 142, 234, 0.4), 0 1px 5px 0 rgba(61, 142, 234, 0.4);
}
.btn {
  position: relative;
  padding: 12px 30px;
  margin: 0.3125rem 1px;
  font-size: .75rem;
  font-weight: 400;
  line-height: 1.42857;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0;
  cursor: pointer;
  background-color: transparent;
  border: 0;
  border-radius: 0.2rem;
  outline: 0;
  transition: box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1), background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  will-change: box-shadow, transform;
}
.navbar-toggler {
border: 0px solid transparent;
}
.navbar-toggler:focus {
border: 0px solid transparent !important;
}
.navbar {
  border: 0;
  border-radius: 3px;
  padding: 1.2rem 0;
  margin-bottom: 20px;
  color: #fff;
  background-color: #004593 !important;
  box-shadow: 0 4px 18px 0px rgba(0, 0, 0, 0.12), 0 7px 10px -5px rgba(0, 0, 0, 0.15);
}
.navbar .collapse .navbar-nav .nav-item .nav-link {
  position: relative;
  padding: 10px 15px;
  font-weight: 400;
  font-size: 12px;
  text-transform: uppercase;
  border-radius: 3px;
  line-height: 20px;
  margin-left: 5px;
  color: inherit;
}
.navbar .navbar-nav .nav-item .nav-link {
  position: relative;
  color: inherit;
  padding: 0.9375rem;
  font-weight: 400;
  font-size: 12px;
  text-transform: uppercase;
  border-radius: 3px;
  line-height: 20px;
}
.open > .dropdown-menu, .dropdown-menu.show {
  display: block;
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}
@media (min-width: 768px){
  .dropdown-menu .dropdown-item, .dropdown-menu li > a {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
  }
}
.dropdown-menu .dropdown-item, .dropdown-menu li > a {
  position: relative;
  width: auto;
  display: flex;
  flex-flow: nowrap;
  align-items: center;
  color: #333;
  font-weight: normal;
  text-decoration: none;
  font-size: .8125rem;
  border-radius: 0.125rem;
  margin: 0 0.3125rem;
  transition: all 150ms linear;
  min-width: 7rem;
  padding: 0.625rem 1.25rem;
  overflow: hidden;
  line-height: 1.42857;
  text-overflow: ellipsis;
  word-wrap: break-word;
}
.dropdown-menu .dropdown-item:hover, .dropdown-menu .dropdown-item:focus, .dropdown-menu a:hover, .dropdown-menu a:focus, .dropdown-menu a:active {
  box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(156, 39, 176, 0.4);
  background-color: #004593;
  color: #FFFFFF;
}
.dropdown-menu {
  border-radius: 0.25rem;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}
.text-primary {
  color: #004593 !important;
}
.img-brand{
    width: 40px;
    margin-right: 10px;
}.navbar-light .navbar-brand {
  color: #fff;
}
a {
  color: #000;
}
a:hover {
  color: #004593;
  text-decoration: none;
}
/* Footer */
section {
    padding: 60px 0;
}

.section .section-title {
    text-align: center;
    color: #004593;
    margin-bottom: 50px;
    text-transform: uppercase;
}
#footer {
    background: #004593 !important;
}
#footer h5{
	padding-left: 10px;
    border-left: 3px solid #eeeeee;
    padding-bottom: 6px;
    margin-bottom: 20px;
    color:#ffffff;
}
#footer li {
    color: #ffffff;
    text-decoration: none !important;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
#footer ul.social li{
	padding: 3px 0;
}
#footer ul.social li a i {
    margin-right: 5px;
	font-size:25px;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}
#footer ul.social li:hover a i {
	font-size:30px;
	margin-top:-10px;
}
#footer ul.social li a,
#footer ul.quick-links li a{
	color:#ffffff;
}
#footer ul.social li a:hover{
	color:#eeeeee;
}
#footer ul.quick-links li{
	padding: 3px 0;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}
#footer ul.quick-links li:hover{
	padding: 3px 0;
	margin-left:5px;
	font-weight:700;
}
#footer ul.quick-links li a i{
	margin-right: 5px;
}
#footer ul.quick-links li:hover a i {
    font-weight: 700;
}

@media (max-width:767px){
    #footer h5 {
      padding-left: 0;
      border-left: transparent;
      padding-bottom: 0px;
      margin-bottom: 10px;
  }
}
.zoomeffect {
  width:100%;
  height:100%;
  text-align:center;
  overflow:hidden;
  position:relative;
  cursor:default;
}
  
.zoomeffect img {
  display:block;
  position:relative;
  cursor:pointer;
  -webkit-transition:all .4s linear;
  transition:all .4s linear;
  width:70%;
}

.zoomeffect:hover img {
  -ms-transform:scale(1.1);
  -webkit-transform:scale(1.1);
  transform:scale(1.0.5);
}
body {
  background: url(../../../public/images/bgdw.jpg) no-repeat fixed;
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  background-size: 100% 100%;
}
.carousel-inner {
  width: 100%;
  text-align: center;
}
.carousel-control-prev {
    background-color: #034693;
    width: 40px;
    height: 40px;
    left: 0;
}
.carousel-control-next {
    background-color: #034693;
    width: 40px;
    height: 40px;
    right:  0;
}
.carousel-img-circel{
  display: inline-block;
  width: 150px !important;
  height: 150px !important;
  margin: 0px 20px;
  border-radius: 50%;
}

  
